// Btn Style Coral

.btn-style-coral{
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    color: $color-white;
    padding: 8px 25px;
    font-weight: normal;
    font-style: normal;
    overflow: hidden;
    letter-spacing: 2px;
    background-color: $color-primary;
    text-transform: uppercase;
    font-family: $font-karla;
}

.btn-style-coral .txt{
    position:relative;
    z-index:1;
}

.btn-style-coral:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: $color-black;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(0.5, 1);
    transform: scale(0.5, 1);
}

.btn-style-coral:hover::before{
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.btn-style-coral:hover {
    color: $color-white;
}


// Btn Style Outline Sky 

.btn-style-outline-sky{
  position: relative;
  display: inline-block;
  font-size: 11px;
  line-height: 30px;
  color: #1e92a9;
  padding: 8px 26px;
  font-weight: normal;
  font-style: normal;
  overflow: hidden;
  letter-spacing: 0.04em;
  border: 1.5px solid #1e92a9; 
  box-sizing: border-box; 
  background: transparent; 
  border-radius: 6px;
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
}

.btn-style-outline-sky .txt{
  position:relative;
  z-index:1;
}

.btn-style-outline-sky:before{
  position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: #1e92a9;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(0.5, 1);
    transform: scale(0.5, 1);
}

.btn-style-outline-sky:hover::before{
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.btn-style-outline-sky:hover {
  color: #ffffff;
}

// Btn Style Outline Sky Border Thin*/

.btn-style-outline-sky-border-thin{
  position: relative;
  display: inline-block;
  font-size: 11px;
  line-height: 30px;
  color: #000;
  padding: 8px 8px;
  width: 100%;
  font-weight: normal;
  font-style: normal;
  overflow: hidden;
  letter-spacing: 3px;
  border: 1px solid #1e92a9; 
  box-sizing: border-box; 
  background: transparent; 
  border-radius: 6px;
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
}

.btn-style-outline-sky-border-thin .txt{
  position:relative;
  z-index:1;
}

.btn-style-outline-sky-border-thin:before{
  position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: #1e92a9;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(0.5, 1);
    transform: scale(0.5, 1);
}

.btn-style-outline-sky-border-thin:hover::before{
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.btn-style-outline-sky-border-thin:hover {
  color: #ffffff;
}

// Btn Style Outline*/

.btn-style-outline-dark{
  position: relative;
  display: inline-block;
  font-size: 11px;
  line-height: 30px;
  color: #3e4346;
  padding: 8px 26px;
  font-weight: normal;
  font-style: normal;
  overflow: hidden;
  letter-spacing: 0.04em;
  border: 1.5px solid #3e4346; 
  box-sizing: border-box; 
  background: transparent; 
  border-radius: 6px;
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
}

.btn-style-outline-dark .txt{
  position:relative;
  z-index:1;
}

.btn-style-outline-dark:before{
  position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: #000;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(0.5, 1);
    transform: scale(0.5, 1);
}

.btn-style-outline-dark:hover::before{
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.btn-style-outline-dark:hover {
  color: #ffffff;
}



// Btn Style One*/

.btn-style-one{
  position: relative;
  display: inline-block;
  font-size: 13px;
  line-height: 30px;
  color: #242424;
  padding: 8px 26px;
  font-weight: 600;
  overflow: hidden;
  letter-spacing:3px;
  background-color: #ffffff;
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
}

.btn-style-one .txt{
  position:relative;
  z-index:1;
}

.btn-style-one:before{
  position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: #c4c4c4;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(0.5, 1);
    transform: scale(0.5, 1);
}

.btn-style-one:hover::before{
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.btn-style-one:hover{
  color: #242424;
}

//  Btn Style Two */

.btn-style-two{
  position: relative;
  display: inline-block;
  font-size: 13px;
  line-height: 30px;
  color: #242424;
  padding: 10px 37px;
  font-weight: 600;
  overflow: hidden;
  letter-spacing:2px;
  background-color: #ffffff;
  text-transform: uppercase;
  transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -webkit-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
  font-family: 'Karla', sans-serif;
}

.btn-style-two .txt{
  position:relative;
  z-index:1;
}

.btn-style-two:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  right: -50px;
  transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -webkit-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    border-right: 50px solid transparent;
    border-bottom: 80px solid #1e92a9;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.btn-style-two:hover::before{
    -webkit-transform: translateX(-49%);
    transform: translateX(-49%);
}

.btn-style-two:after{
  content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -50px;
  transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -webkit-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    border-left: 50px solid transparent;
    border-top: 80px solid #1e92a9;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.btn-style-two:hover::after{
    -webkit-transform: translateX(49%);
    transform: translateX(49%);
}

.btn-style-two:hover{
  color: #ffffff;
}

//  Btn Style Three */

.btn-style-three{
  position: relative;
  display: inline-block;
  font-size: 22px;
  line-height: 30px;
  padding: 14px 45px;
  font-weight: 700;
  overflow: hidden;
  letter-spacing:1px;
  border-radius:3px;
  background-color: #101010;
  text-transform: capitalize;
  color: rgba(255,255,255,0.30);
  font-family: 'Karla', sans-serif;
  border:1px solid rgba(255,255,255,0.10);
  box-shadow:0px 0px 15px rgba(0,0,0,0.15);
}

.btn-style-three .txt{
  position:relative;
  z-index:1;
}

.btn-style-three:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  right: -50px;
  transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -webkit-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    border-right: 50px solid transparent;
    border-bottom: 80px solid #1e92a9;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.btn-style-three:hover::before{
    -webkit-transform: translateX(-49%);
    transform: translateX(-49%);
}

.btn-style-three:after{
  content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -50px;
  transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -webkit-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    border-left: 50px solid transparent;
    border-top: 80px solid #1e92a9;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.btn-style-three:hover::after{
    -webkit-transform: translateX(49%);
    transform: translateX(49%);
}

.btn-style-three .txt{
  position:relative;
}

.btn-style-three:hover{
  color: #ffffff;
}

//  Btn Style Four */

.btn-style-four{
  position: relative;
  display: inline-block;
  font-size: 13px;
  line-height: 30px;
  color: #ffffff;
  padding: 9px 37px;
  font-weight: 600;
  overflow: hidden;
  letter-spacing:2px;
  background-color: #1e92a9;
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
}

.btn-style-four .txt{
  position:relative;
  z-index:1;
}

.btn-style-four:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  right: -50px;
  transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -webkit-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    border-right: 50px solid transparent;
    border-bottom: 80px solid #222222;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.btn-style-four:hover::before{
    -webkit-transform: translateX(-49%);
    transform: translateX(-49%);
}

.btn-style-four:after{
  content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -50px;
  transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -webkit-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    border-left: 50px solid transparent;
    border-top: 80px solid #222222;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.btn-style-four:hover::after{
    -webkit-transform: translateX(49%);
    transform: translateX(49%);
}

.btn-style-four .txt{
  position:relative;
}

.btn-style-four:hover{
  color: #ffffff;
}