* {
	margin:0px;
	padding:0px;
	border:none;
	outline:none;
	font-size: 100%;
}

body {
	
	font-size:14px;
	color:#787878;
	line-height:1.6em;
	font-weight:400;
	background:#ffffff;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-family: $font-karla;
}

a {
	text-decoration:none;
	cursor:pointer;
	color:#1e92a9;
}

a:hover,
a:focus,
a:visited{
	text-decoration:none;
	outline:none;
}