.grid-col-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr) !important;
	text-align: center;
	width: 100%;

	@media only screen and (max-width: $bp-mobile-lg) { 
        display: grid;
		grid-template-columns: repeat(2, 1fr) !important;
		width: 100%;
    }

	@media only screen and (max-width: $bp-mobile-md) { 
        display: grid;
		grid-template-columns: repeat(2, 1fr) !important;
		width: 100%;
    }

    @media only screen and (max-width: $bp-mobile-sm) { 
        display: grid;
		grid-template-columns: repeat(2, 1fr) !important;
		width: 100%;
		padding-right: 0 !important;
    }

	.img-sm {
		max-width: 10rem !important;

		@media only screen and (max-width: $bp-mobile-lg) {
            max-width: 5rem !important;
        }
	}
}